<br />
<div class="row">
  <div class="col-3 offset-3">
    <h2>How To Use This Application</h2>
  </div>
</div>
<br />
<div class="row">
  <div class="col-7 offset-1">
    <ol class="htu-ol" type="1">
      <li class="htu-li">Select the first pokemon for your party by simply clicking anywhere in the box for that pokemon.</li>
      <li class="htu-li">Next, select up to 4 moves for that pokemon.</li>
      <li class="htu-li">When you have selected all of the moves for your pokemon, click the "Add To Party" button to add your new pokemon to your party.</li>
      <li class="htu-li">Up to 6 pokemon can be added to your party.</li>
      <li class="htu-li">If you would like to remove any pokemon from your party, simply click on that pokemon's box in your party.</li>
      <!-- <li class="htu-li"></li>
      <li class="htu-li"></li>
      <li class="htu-li"></li>
      <li class="htu-li"></li> -->
    </ol>
  </div>
</div>