<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      <div id="moves-holder">
        moves
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1 offset-1">
      <input id="input-pokemon"></input>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-2 offset-1">
    <!-- Pokemon Box Start -->
      <div id="moves-poke-box">
        <ol id="moves-poke-box-ol" class="list-unstyled">
          
        </ol>
      </div>
    <!-- Pokemon Box End -->
    </div>
    
    <!-- Party Box Start -->
    <div class="col-2 offset-1">
      <ul id="party-box-ul" class="list-unstyled">
        
      </ul>
    </div>
    <!-- Party Box End -->

    <!-- Move Box Start -->
    <div class="col-2 offset-1">
      <ul id="move-box-ul" class="list-unstyled">

      </ul>
    </div>
    <!-- Move Box End -->

  </div>


</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  var baseURL = "https://pokeapi.co/api/v2/";
  function getAPI(resource, name="") {
    $.get(baseURL + resource + "/" + name, function(data, status) {
      var rsrce = data['"' + resource + '"']
      console.log(rsrce)
      return rsrce
    })
  }


  function getMoves(name) {
      $.get(baseURL + "pokemon/" + name, function(data, status) {
        var moves = data["moves"];
        // console.log(moves)
        $("#moves-holder").html(moves[0]["move"]["name"]);
      })
    }
    
    function getSprite(name) {
      $.get(baseURL + "pokemon/" + name, function(data, status) {
        // console.log(baseURL + "pokemon/" + name)
        var sprite = data["sprites"]["front_default"];
        // console.log(data["sprites"]["front_default"])
        // console.log(sprite.toString())
        return sprite.toString();
      });
    }



  $(function() {
    

    // var avaPokemon = <%= raw Pokemon.pluck(:name) %>;
    
    // $(avaPokemon).each(function(key, value) {
    //   var baseURL = "https://pokeapi.co/api/v2/";
    //   var sprite;
    //   $.get(baseURL + "pokemon/" + value.toLowerCase(), function(data, status) {
    //     sprite = data["sprites"]["front_default"];
    //     $('#moves-poke-box-' + value.toLowerCase()).append('<img id="sprite-' + value.toLowerCase() + '" src="' + sprite + '" alt="' + value.toLowerCase() + '" />');
    //   });
      
    // });
    
    // $("#input-pokemon").autocomplete ({
    //   source: avaPokemon,
    //   focus: function(event, ui) {
    //     $("$input-pokemon").val(ui.item.label);
    //     return false;
    //   }
    // });

    

    

    $.get(baseURL + "pokemon?limit=964", function(data, status) {
      // console.log(data['results'][0]['name'])
      $.each(data['results'], function(index, value) {
        $.get(value['url'], function(data, status) {
          // console.log(data)
          var insertJSON = (
          '<li id="moves-poke-box-li-' + data['name'] + '" class="moves-poke-box-li">' +
            '<div class="container-fluid">' +
              '<div class="row">' +
                '<div id="moves-poke-box-img" class="align-self-center">' +
                  '<div id="moves-poke-box-' + data['name'] + '">' +
                  '<img id="sprite-' + data['name'] + '" src="' + data["sprites"]["front_default"] + '" alt="' + data['name'] + '" />' +
                  '</div>' +
                '</div>' +
                '<div id="moves-poke-box-name" class="align-self-center">' +
                  data['name'] +
                '</div>' +
              '</div>' +
            '</div>' +
            '</li>' +
          '<br />'
          );
          $('#moves-poke-box-ol').append(insertJSON);
        });
      });

      $("#moves-poke-box-ol").selectable({
        selected: function(event, ui) {
          $('#party-box-ul li:gt(7)').remove();
          var selectedHTML = $(ui['selected']).html();
          var selectedName = $(ui['selected']).text();
          var insertJSON = (
            '<li class="party-box-li">' + selectedHTML + '</li><br />'
            );
          $('#party-box-ul').append(insertJSON);
          var baseURL = "https://pokeapi.co/api/v2/";
          $.get(baseURL + "pokemon/" + selectedName, function(data, status) {
            $.each(data['moves'], function(index, value) {
              var moveName = value['move']['name'];
              var moveURL = value['move']['url'];
              var insertJSON = (
                '<li id="move-box-li-' + selectedName + '-' + moveName + '" class="move-box-li">' +
                  '<div class="container-fluid">' +
                    '<div class="row">' +
                      '<div id="move-box-type-category" class="align-self-center">' +
                        '<ul id="move-box-type-category-ul">' +
                          '<li id="move-box-type">' + 'Type' + '</li>' +
                          '<li id="move-box-category">' + 'Cat' + '</li>' +
                        '</ul>' +
                      '</div>' +
                      '<div id="move-box-name" class="align-self-center">' + moveName + '</div>' +
                    '</div>' +
                  '</div>' +
                '</li>' +
                '<br />'
                );
              $('#move-box-ul').append(insertJSON);
            });
          }); 
        }
        
      });
      
      




    });

  });
</script>