<div class="container-fluid">
  <br />
  <br />
  
  <div class="row">
    <!-- Party Column Start -->
    <!-- Party Box Start -->
    <div class="col-2">
      <br />
      <div id="party-box-column">
        <div class="party-box-outer"><div id="party-box-1" class="party-box std-lb"></div></div>
        <div class="party-box-outer"><div id="party-box-2" class="party-box std-lb"></div></div>
        <div class="party-box-outer"><div id="party-box-3" class="party-box std-lb"></div></div>
        <div class="party-box-outer"><div id="party-box-4" class="party-box std-lb"></div></div>
        <div class="party-box-outer"><div id="party-box-5" class="party-box std-lb"></div></div>
        <div class="party-box-outer"><div id="party-box-6" class="party-box std-lb"></div></div>
      </div>
    </div>
    <!-- Party Box End -->
    <!-- Party Column End -->
    
    
    <!-- Pokemon Column Start -->
    <div class="col-2 offset-1">
      <div id="pokemon-box-column">
        <!-- Search Pokemon Start -->
        <div id="input-pokemon-div">
          <div class="row">
            <input id="input-pokemon" class="poke-input" type="text" placeholder="Search Pokemon..." />
          </div>
        </div><br />
        <!-- Search Pokemon End -->
        <div id="pokemon-box-column-sub">
          <div class="row">
            <!-- Pokemon Box Start -->
            <div id="moves-poke-box"><ol id="moves-poke-box-ol" class="list-unstyled"></ol></div>
            <!-- Pokemon Box End -->
            <!-- Add To Party Box Start -->
            <div id="party-box-hold"></div>
            <button disabled id="add-party-button" class="poke-button" type="button">Add To Party</button>
            <!-- Add To Party Box End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Pokemon Column End -->

    <!-- Move Column Start -->
    <div class="col-2">
      <div id="move-column">
          <!-- Search Moves Start -->
          <div id="input-moves-div">
            <div class="row">
              <input id="input-moves" class="poke-input" type="text" placeholder="Search Moves..." />
            </div>
          </div><br />
          <!-- Search Moves End -->
          <!-- Move Box Start -->
          <div id="move-column-sub">
            <div class="row">
              <ul id="move-box-ul" class="list-unstyled"></ul>
            </div>
          </div>
          <!-- Move Box End -->
        <!-- <canvas id="move-canvas" width="1000" height="1000"></canvas> -->
      </div>
    </div>
    <!-- Move Column End -->

  </div>


</div>



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- <script src="../../assets/javascripts/partys.js"></script> -->

