<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      <input id="party-name" type="text" placeholder="Party Name" />
    </div>
  </div>

  
  <div class="row">

    <!-- Search Pokemon Start -->
    <div class="col-1 offset-3">
      <input id="input-pokemon" type="text" placeholder="Search Pokemon..." />
    </div>
    <!-- Search Pokemon End -->

    <!-- Search Moves Start -->
    <div class="col-1 offset-5">
      <input id="input-moves" type="text" placeholder="Search Moves..." />
    </div>
    <!-- Search Moves End -->


  </div>
  <br />
  
  <div class="row">

    <!-- Party Box Start -->
    <div class="col-2">
      <div class="party-box-outer">
        <div id="party-box-1" class="party-box std-lb"></div>
      </div>
      <div class="party-box-outer">
        <div id="party-box-2" class="party-box std-lb"></div>
      </div>
      <div class="party-box-outer">
        <div id="party-box-3" class="party-box std-lb"></div>
      </div>
      <div class="party-box-outer">
        <div id="party-box-4" class="party-box std-lb"></div>
      </div>
      <div class="party-box-outer">
        <div id="party-box-5" class="party-box std-lb"></div>
      </div>
      <div class="party-box-outer">
        <div id="party-box-6" class="party-box std-lb"></div>
      </div>
      
      <!-- Save Party Start -->
      <input id="save-party-button" class="poke-button" type="button" onclick="" value="Save Party" />
      <!-- Pokemon.create( pokedex_number: pmNum, name: pmName, type1: pmType1, type2: pmType2, sprite: pmSprite ) -->
      
      <!-- Save Party End -->

    </div>
    <!-- Party Box End -->

    
    
    <!-- Pokemon Box Start -->
    <div class="col-2 offset-1">
      <div id="moves-poke-box">
        <ol id="moves-poke-box-ol" class="list-unstyled">
          
        </ol>
      </div>
    </div>
    <!-- Pokemon Box End -->

    <!-- Add To Party Box Start -->
    <div class="col-2 offset-1">
      <div id="party-box-hold"></div>
      <button disabled id="add-party-button" class="poke-button" type="button">Add To Party</button>
    </div>
    <!-- Add To Party Box End -->

    <!-- Move Box Start -->
    <div class="col-2 offset-1">
      <ul id="move-box-ul" class="list-unstyled">

      </ul>
    </div>
    <!-- Move Box End -->

  </div>


</div>



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- <script src="../../assets/javascripts/partys.js"></script> -->


